body {
    background: linear-gradient(125deg,rgb(0, 217, 255),rgb(163, 1, 168)) no-repeat fixed;
    font-family: 'Raleway', sans-serif;
    

}

.Base {
    margin-top: 25px;
}
.Card-Hero{
    padding-top: 0px;
    padding-bottom: 17px;
}

.img-box{
    margin-left: 50px;
}
.img-back{
    height: inherit;
}
.Title{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding-top: 6px;
    margin-top: 6px;
    font-size: 35px;
}
/* .scroll{
    display:block;
    border: none;
    padding:5px;
    margin-top:5px;
    width:250px;
    height:400px;
    overflow:auto;
}


.JoinNow-Hero{
    background: linear-gradient(135deg,rgb(42, 225, 231),rgb(212, 13, 212));
}

.card-borderRound{
    border-radius: 25px;
    border: none;
    box-shadow: none;
}
.buttonbackground{
    background: linear-gradient(135deg,rgb(42, 225, 231),rgb(212, 13, 212));
    border-radius: 19px;
    border: none;
}
.buttonbackground:hover{
    background: transparent;
    border: rgb(212, 13, 212) solid 2px;
    color: rgb(212, 13, 212);
} */